<div class="jumbotron">
  <h1>¡15% DE DESCUENTO ABONANDO EN EFECTIVO O TRANSFERENCIA!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Modo de Uso</h2>
      <p>Aquí va la explicación del modo de uso de la web...</p>
    </div>
    <div class="col-md-4">
      <h2>Modalidad de Envío</h2>
      <p>Aquí va la información sobre la modalidad de envío...</p>
    </div>
    <div class="col-md-4">
      <h2>Quiénes Somos</h2>
      <p>Aquí va la información sobre quiénes somos...</p>
    </div>
  </div>
</div>